In [1]:
import pandas as pd
import numpy as np

# For Database Operations
import mysql.connector
from sqlalchemy import create_engine, text, types
from mysql.connector import Error
import pymysql
import pymongo

In [14]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

C:\Users\galip\Anaconda3\envs\python37\python.exe
3.7.16 (default, Jan 17 2023, 16:06:28) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=7, micro=16, releaselevel='final', serial=0)

In [23]:
df = pd.read_csv('rawdata.csv')
df.head()

,Tweets,Retweets,Likes,Date
0,@PeterSchiff ðŸ¤£ thanks,209,7021,2022-10-27 16:17:39
1,@ZubyMusic Absolutely,755,26737,2022-10-27 13:19:25
2,Dear Twitter Advertisers https://t.co/GMwHmInPAS,55927,356623,2022-10-27 13:08:00
3,@BillyM2k ðŸ‘»,802,19353,2022-10-27 02:32:48
4,Meeting a lot of cool people at Twitter today!,9366,195546,2022-10-26 21:39:32

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3060 entries, 0 to 3059
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Tweets    3060 non-null   object
 1   Retweets  3060 non-null   int64
 2   Likes     3060 non-null   int64
 3   Date      3060 non-null   object
dtypes: int64(2), object(2)
memory usage: 95.8+ KB

In [25]:
df.head()

,Tweets,Retweets,Likes,Date
0,@PeterSchiff ðŸ¤£ thanks,209,7021,2022-10-27 16:17:39
1,@ZubyMusic Absolutely,755,26737,2022-10-27 13:19:25
2,Dear Twitter Advertisers https://t.co/GMwHmInPAS,55927,356623,2022-10-27 13:08:00
3,@BillyM2k ðŸ‘»,802,19353,2022-10-27 02:32:48
4,Meeting a lot of cool people at Twitter today!,9366,195546,2022-10-26 21:39:32

In [26]:
df.isnull().sum()

Tweets      0
Retweets    0
Likes       0
Date        0
dtype: int64

In [ ]:
# df['Date_datetime'] = df['Date'].astype('datetime64')

# MySQL Database Operations

## 1- Connect MySQL Database

In [22]:
try:
    connection = mysql.connector.connect(host='localhost',
                                         database='sharat',
                                         user='sharat',
                                         password='sharat123')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)

Connected to MySQL Server version  8.0.36
You're connected to database:  ('sharat',)

### 2- Creating Table to Write Pandas Datafame into MySQL Table

In [24]:
df.head()

,Tweets,Retweets,Likes,Date
0,@PeterSchiff ðŸ¤£ thanks,209,7021,2022-10-27 16:17:39
1,@ZubyMusic Absolutely,755,26737,2022-10-27 13:19:25
2,Dear Twitter Advertisers https://t.co/GMwHmInPAS,55927,356623,2022-10-27 13:08:00
3,@BillyM2k ðŸ‘»,802,19353,2022-10-27 02:32:48
4,Meeting a lot of cool people at Twitter today!,9366,195546,2022-10-26 21:39:32

In [25]:
try:
    connection = mysql.connector.connect(host='localhost',
                                         database='sharat',
                                         user='sharat',
                                         password='sharat123')

    mySql_Create_Table_Query = """CREATE TABLE tweets(Tweets varchar(500), Retweets int(20), Likes int(20), Date varchar(100)) """

    cursor = connection.cursor()
    result = cursor.execute(mySql_Create_Table_Query)
    print("Tweets table has been created successfully ")

except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Tweets table has been created successfully
MySQL connection is closed

### 3- Creating Table to Write Pandas Datafame into MySQL Table

In [33]:
# create_engine('mysql+pymysql://<username>:<password>@<host>/<dbname>')   
mysql_engine = create_engine('mysql+pymysql://sharat:sharat123@localhost/sharat', 
                             connect_args=dict(host='localhost',port=3306)).connect()

mysql_test_df = pd.read_sql('SELECT * FROM tweets', mysql_engine)
mysql_test_df

,Tweets,Retweets,Likes,Date
0,@PeterSchiff ðŸ¤£ thanks,209,7021,2022-10-27 16:17:39
1,@ZubyMusic Absolutely,755,26737,2022-10-27 13:19:25
2,Dear Twitter Advertisers https://t.co/GMwHmInPAS,55927,356623,2022-10-27 13:08:00
3,@BillyM2k ðŸ‘»,802,19353,2022-10-27 02:32:48
4,Meeting a lot of cool people at Twitter today!,9366,195546,2022-10-26 21:39:32
...,...,...,...,...
3055,@LimitingThe @baglino Just that manganese is a...,171,3173,2022-01-27 22:01:06
3056,@incentives101 @ICRicardoLara Exactly,145,4234,2022-01-27 21:23:20
3057,@ICRicardoLara Your policies are directly resp...,421,6144,2022-01-27 21:13:57
3058,@ICRicardoLara You should be voted out of office,484,7029,2022-01-27 21:12:27
3059,CB radios are free from govt/media control,11302,113429,2022-01-27 21:00:09

In [34]:
# Write records stored in a DataFrame to a SQL database using to_sql

df.to_sql(name='tweets', con=mysql_engine, if_exists='replace',index=False, method='multi', chunksize=10000) # if_exist=append
print('All data rows have been imported into MySQL table successfully!')

All data rows have been imported into MySQL table successfully!

### 4- Reading Data from MySQL Table as Pandas Dataframe

In [35]:
mysql_read_df = pd.read_sql('SELECT * FROM tweets LIMIT 10', mysql_engine)
mysql_read_df.head()

,Tweets,Retweets,Likes,Date
0,@PeterSchiff ðŸ¤£ thanks,209,7021,2022-10-27 16:17:39
1,@ZubyMusic Absolutely,755,26737,2022-10-27 13:19:25
2,Dear Twitter Advertisers https://t.co/GMwHmInPAS,55927,356623,2022-10-27 13:08:00
3,@BillyM2k ðŸ‘»,802,19353,2022-10-27 02:32:48
4,Meeting a lot of cool people at Twitter today!,9366,195546,2022-10-26 21:39:32

# MongoDB Database Operations

### 1- Connect to Local MongoDB Database

In [28]:
# connect to the database
client = pymongo.MongoClient("mongodb://localhost:27017/")
print("Succesfully connected to MongoDB! \n",mongo_database)
print("Databases are:", client.list_database_names())

Succesfully connected to MongoDB!
 Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'twitter_database')
Databases are: ['admin', 'config', 'local', 'twitter_database']

### 2- Writing Pandas Dataframe into MongoDB Collection

In [29]:
mongodb_data = df.to_dict(orient='records')
mongodb_data[0:2]

[{'Tweets': '@PeterSchiff ðŸ¤£ thanks',
  'Retweets': 209,
  'Likes': 7021,
  'Date': '2022-10-27 16:17:39'},
 {'Tweets': '@ZubyMusic Absolutely',
  'Retweets': 755,
  'Likes': 26737,
  'Date': '2022-10-27 13:19:25'}]

In [30]:
# twitter_database.twitter_collection
mongo_database = client["twitter_database"] #create new database
mongodb_collection = mongo_database['twitter_collection']  #create new collection
mongodb_collection.insert_many(mongodb_data) #inserting the data
print('Tweets are successfully imported into MongoDB collection.')

Tweets are successfully imported into MongoDB collection.

### 3- Retreiving Data from MongoDB Collection as Pandas Dataframe

In [20]:
collection_mongo = mongo_database["twitter_collection"]
mongo_test_df = list(collection_mongo.find())
mongo_df = pd.DataFrame(mongo_test_df)
mongo_df.head()

,_id,Tweets,Retweets,Likes,Date
0,65f71782b02e90c4d6155b87,@PeterSchiff ðŸ¤£ thanks,209,7021,2022-10-27 16:17:39
1,65f71782b02e90c4d6155b88,@ZubyMusic Absolutely,755,26737,2022-10-27 13:19:25
2,65f71782b02e90c4d6155b89,Dear Twitter Advertisers https://t.co/GMwHmInPAS,55927,356623,2022-10-27 13:08:00
3,65f71782b02e90c4d6155b8a,@BillyM2k ðŸ‘»,802,19353,2022-10-27 02:32:48
4,65f71782b02e90c4d6155b8b,Meeting a lot of cool people at Twitter today!,9366,195546,2022-10-26 21:39:32

In [22]:
mongo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3060 entries, 0 to 3059
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       3060 non-null   object
 1   Tweets    3060 non-null   object
 2   Retweets  3060 non-null   int64
 3   Likes     3060 non-null   int64
 4   Date      3060 non-null   object
dtypes: int64(2), object(3)
memory usage: 119.7+ KB